{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The purpose of this application is to provide a simple service for storing and getting secrets",
    "title": "DevOps Secrets Vault API",
    "version": "1.0.0"
  },
  "host": "secretsvaultcloud.com",
  "basePath": "/v1",
  "paths": {
    "/audit": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Find audit records based on search critera.",
        "tags": [
          "Audit"
        ],
        "summary": "Find Audit Records",
        "operationId": "findAudit",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Principal",
            "description": "Security principal name",
            "name": "principal",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "StartDate",
            "description": "The start date to find audits from",
            "name": "startDate",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "EndDate",
            "description": "The end date to find audits to",
            "name": "endDate",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Action",
            "description": "The audit action",
            "name": "action",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The secret path",
            "name": "path",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "The cursor for pagination",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "The number of results to return",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Sort",
            "description": "Sort results ascending (asc) or descending (desc) order. Default is desc",
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful audit log search response",
            "schema": {
              "$ref": "#/definitions/LogSearchResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/breakglass": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get break glass status",
        "tags": [
          "Break-Glass"
        ],
        "summary": "Get Status",
        "operationId": "GetStatus",
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/StatusResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          }
        }
      }
    },
    "/breakglass/apply": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Apply secret shares to break glass and give users admin rights",
        "tags": [
          "Break-Glass"
        ],
        "summary": "Apply",
        "operationId": "ApplyRequest",
        "parameters": [
          {
            "minLength": 1,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "Shares",
            "name": "shares",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ApplyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/breakglass/generate": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Generate a new break glass secret and shares",
        "tags": [
          "Break-Glass"
        ],
        "summary": "Generate",
        "operationId": "GenerateRequest",
        "parameters": [
          {
            "minLength": 1,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "NewAdmins",
            "name": "newAdmins",
            "in": "query",
            "required": true
          },
          {
            "minimum": 1,
            "type": "integer",
            "format": "int64",
            "x-go-name": "MinNumberOfShares",
            "name": "minNumberOfShares",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/GenerateResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/certificate/auth": {
      "post": {
        "description": "Request a challenge to decrypt to prove ownership of the private key for\nauthentication by certificate flow. Challenge id returned in response is\nonly valid for 5 minutes.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Tokens"
        ],
        "summary": "Initiate authentication by certificate",
        "operationId": "init-cert-auth",
        "parameters": [
          {
            "type": "string",
            "description": "Base64 encoded client certificate in PEM format",
            "name": "client_certificate",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with an encrypted challenge",
            "schema": {
              "$ref": "#/definitions/InitiateCertAuthResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Search for one or more client credentials associated with a particular role.",
        "tags": [
          "Clients"
        ],
        "summary": "Search for Client Credentials",
        "operationId": "searchClients",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Role",
            "description": "Role name associated with client credentials",
            "name": "role",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "The maximum number of results per cursor",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "Cursor to next batch of results",
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ClientSearchModel"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Request a new client credential for a role and get back the client id and secret key.",
        "tags": [
          "Clients"
        ],
        "summary": "Create a Client Credential",
        "operationId": "createClientCredential",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ClientCredentialsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/clients/bootstrap/{clientId}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get a client credential by url.",
        "tags": [
          "Clients"
        ],
        "summary": "Get a Client Bootstrap Credential including secret",
        "operationId": "getBootstrapClientCredential",
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ClientCredentialsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/clients/{clientId}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get a client credential by client id. The secret key is omitted.",
        "tags": [
          "Clients"
        ],
        "summary": "Get a Client Credential",
        "operationId": "getClientCredential",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "ClientId property of the client credentials",
            "name": "clientId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ClientCredentialsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete a client credential by its unique client id.",
        "tags": [
          "Clients"
        ],
        "summary": "Delete a Client Credential",
        "operationId": "deleteClientCredential",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Force",
            "description": "Delete immediately",
            "name": "force",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "ClientId property of the client credentials",
            "name": "clientId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/clients/{clientId}/restore": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restore a client by ID.",
        "tags": [
          "Clients"
        ],
        "summary": "Restore a Client",
        "operationId": "restoreClient",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "ClientId property of the client credentials",
            "name": "clientId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get config data.",
        "tags": [
          "Config"
        ],
        "summary": "Get Config",
        "operationId": "getConfig",
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ConfigResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Create or update config.",
        "tags": [
          "Config"
        ],
        "summary": "Create Config",
        "operationId": "postConfig",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostConfigModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ConfigResponse"
            }
          },
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ConfigResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/auth": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Search authentication providers by name.",
        "tags": [
          "Settings"
        ],
        "summary": "Search Authentication Providers",
        "operationId": "searchSettings",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "SearchTerm",
            "description": "Search pattern for setting name.",
            "name": "searchTerm",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "The maximum number of results per cursor.",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "Cursor to next batch of results.",
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsSearchResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/auth/": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Creates new authentication provider settings.",
        "tags": [
          "Settings"
        ],
        "summary": "Create Authentication Provider",
        "operationId": "createAuthSettings",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsCreateModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/auth/{name}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Retrieve authentication providers by name.",
        "tags": [
          "Settings"
        ],
        "summary": "Get Authentication Provider",
        "operationId": "getAuthSettings",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Full name to lookup authentication settings by.",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Updates all fields on an existing authentication provider.",
        "tags": [
          "Settings"
        ],
        "summary": "Update Authentication Provider",
        "operationId": "updateAuthSettings",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Full name to lookup authentication settings by.",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationDetailsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Remove authentication provider settings from the system.",
        "tags": [
          "Settings"
        ],
        "summary": "Delete Authentication Provider",
        "operationId": "deleteAuthSettings",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Force",
            "description": "Delete immediately",
            "name": "force",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Full name to lookup authentication settings by.",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/auth/{name}/restore": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restore authentication provider settings if it had been marked for deletion.",
        "tags": [
          "Settings"
        ],
        "summary": "Restore Authentication Provider",
        "operationId": "restoreAuthSettings",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Full name to lookup authentication settings by.",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/auth/{name}/rollback/{version}": {
      "put": {
        "description": "Rollback authentication provider to a previous version.",
        "tags": [
          "Settings"
        ],
        "summary": "Rollback Authentication Provider",
        "operationId": "rollbackAuthSettings",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Full name to lookup authentication settings by.",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return.",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/auth/{name}/version/{version}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get a full Settings by name and version in the query. Returns a list of zero up to n versions of an item.",
        "tags": [
          "Settings"
        ],
        "summary": "Get a list of Authentication Settings by version",
        "operationId": "getAuthSettingsByVersion",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Full name to lookup authentication settings by.",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return.",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingsVersionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/keys": {
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Update Master Encryption key.",
        "tags": [
          "Key"
        ],
        "summary": "Update Master Key",
        "operationId": "masterkeys",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Masterkey"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/policies": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Search permission policies by path.",
        "tags": [
          "Policies"
        ],
        "summary": "Search Policies",
        "operationId": "searchFilter",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "SearchTerm",
            "description": "Search term",
            "name": "searchTerm",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "The maximum number of results per cursor",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "Cursor to next batch of results",
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/PolicySearchResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/policies/": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Creates new policy with permission document.",
        "tags": [
          "Policies"
        ],
        "summary": "Create Policy",
        "operationId": "createPolicy",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/PolicyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/policies/{path}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Retrieve policy by path.",
        "tags": [
          "Policies"
        ],
        "summary": "Get Policy",
        "operationId": "getPolicy",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "Full path to lookup policy",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/PolicyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Overwrites an existing policy with an updated permissions document.",
        "tags": [
          "Policies"
        ],
        "summary": "Update Policy",
        "operationId": "updatePolicy",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "Full path for policy",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/PolicyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Remove an existing policy by path.",
        "tags": [
          "Policies"
        ],
        "summary": "Delete Policy",
        "operationId": "deletePolicy",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Force",
            "description": "Delete immediately",
            "name": "force",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "Full path to lookup policy",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/policies/{path}/restore": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restore an existing policy by path.",
        "tags": [
          "Policies"
        ],
        "summary": "Restore Policy",
        "operationId": "restorePolicy",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "Full path to lookup policy",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/policies/{path}/rollback/{version}": {
      "put": {
        "description": "Overwrites an existing policy with its previous version.",
        "tags": [
          "Policies"
        ],
        "summary": "Rollback Policy",
        "operationId": "rollbackPolicy",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "Full path to lookup policy",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/PolicyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/policies/{path}/version/{version}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get a full policies by path and version in the query.Returns a list of zero up to n versions of an item.",
        "tags": [
          "Policies"
        ],
        "summary": "Get a list of policies by version",
        "operationId": "getPolicyByVersion",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "Full path to lookup policy",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/PolicyVersionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/siem": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Search SIEM Endpoints by name.",
        "tags": [
          "SIEM"
        ],
        "summary": "Search SIEM Endpoints",
        "operationId": "searchSiems",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "SearchTerm",
            "description": "Partial search term for search by name",
            "name": "searchTerm",
            "in": "query"
          },
          {
            "maximum": 500,
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "Limit for the number of results per page (cursor)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "Cursor to next batch of results",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Sort",
            "description": "Sort results ascending (asc) or descending (desc) order by name. Default is asc",
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SiemSearchResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new SIEM endpoint.",
        "tags": [
          "SIEM"
        ],
        "summary": "Create SIEM Endpoint",
        "operationId": "siemCreate",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiemCreateUpdateRequestModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SiemResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/siem/{name}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Retrieve an existing SIEM endpoint.",
        "tags": [
          "SIEM"
        ],
        "summary": "Get SIEM Endpoint",
        "operationId": "siemGet",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SiemResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Update an existing SIEM endpoint. Update sets \"failed\" to \"false\" and \"failedEvents\" to \"0\" automatically.",
        "tags": [
          "SIEM"
        ],
        "summary": "Update SIEM Endpoint",
        "operationId": "siemUpdate",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiemCreateUpdateRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SiemResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete an existing SIEM endpoint.",
        "tags": [
          "SIEM"
        ],
        "summary": "Delete SIEM Endpoint",
        "operationId": "siemDelete",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/config/version/{version}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get zero or more representations of config specified by version number.",
        "tags": [
          "Config"
        ],
        "summary": "Get Config By Version",
        "operationId": "getConfigByVersion",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ConfigVersionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/decrypt": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Decrypt ciphertext with a key.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Decrypt",
        "operationId": "decrypt",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The path to data key",
            "name": "path",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint8"
            },
            "x-go-name": "Ciphertext",
            "description": "A value to be decrypted",
            "name": "ciphertext",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Version",
            "description": "The version of the key with which to decrypt data",
            "name": "version",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/DecryptionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/encrypt": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Encrypt plaintext with a key.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Encrypt",
        "operationId": "encrypt",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The path to data key",
            "name": "path",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Plaintext",
            "description": "A value to be encrypted",
            "name": "plaintext",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Version",
            "description": "The version of the key with which to encrypt data",
            "name": "version",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EncryptionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/key/{path}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Get metadata of an existing encryption/decryption key.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Get Key Metadata",
        "operationId": "getKeyMetadata",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AutoKeyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Create a new encryption/decryption key.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Create Key",
        "operationId": "createKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AutoKeyResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete an existing encryption/decryption key.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Delete Key",
        "operationId": "deleteKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/key/{path}/restore": {
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restore a soft-deleted encryption/decryption key.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Restore Key",
        "operationId": "restoreKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/manual/decrypt": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Decrypt ciphertext with a key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Decrypt",
        "operationId": "decryptWithManualKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The path to data key",
            "name": "path",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint8"
            },
            "x-go-name": "Ciphertext",
            "description": "A value to be decrypted",
            "name": "ciphertext",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Version",
            "description": "The version of the key with which to decrypt data",
            "name": "version",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/DecryptionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/manual/encrypt": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Encrypt plaintext with a key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Encrypt",
        "operationId": "encryptWithManualKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The path to data key",
            "name": "path",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Plaintext",
            "description": "A value to be encrypted",
            "name": "plaintext",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Version",
            "description": "The version of the key with which to encrypt data",
            "name": "version",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EncryptionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/manual/key/{path}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Read existing encryption/decryption key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Read Key",
        "operationId": "readManualKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Update an existing encryption/decryption key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Update Key",
        "operationId": "updateKey",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateKeyRequest"
            }
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Upload a new encryption/decryption key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Upload Key",
        "operationId": "uploadKey",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManualKeyData"
            }
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete an existing encryption/decryption key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Delete Key",
        "operationId": "deleteManualKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/manual/key/{path}/restore": {
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restore a soft-deleted encryption/decryption key.",
        "tags": [
          "EaaS-Manual"
        ],
        "summary": "Restore Key",
        "operationId": "restoreManualKey",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full key path, for example, mykeys/key01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/crypto/rotate": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Rotate data and optionally an existing encryption/decryption key.\n\nIf the starting version is the current version of the key, then DSV will rotate the key (create a new version of it)\nand re-encrypt the data using this new version.\n\nIf the starting version is NOT the current version of the key, and the ending version is not provided, then DSV will\nonly re-encrypt the data using the current latest version of the key.\n\nThe starting and ending versions can also be below the latest one, so long as the starting is below the ending.\nIn this case, DSV will re-encrypt the data using the version of the key specified by the ending version.",
        "tags": [
          "EaaS-Auto"
        ],
        "summary": "Rotate Data and Key",
        "operationId": "RotationRequest",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The path to data key",
            "name": "path",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint8"
            },
            "x-go-name": "Ciphertext",
            "description": "A value to be rotated (re-encrypted)",
            "name": "ciphertext",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "StartingVersion",
            "description": "The starting version of the key with which to re-encrypt data",
            "name": "startingVersion",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "EndingVersion",
            "description": "The ending version of the key with which to re-encrypt data",
            "name": "endingVersion",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EncryptionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/download/audit": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Download a zip of audit records for a time range",
        "produces": [
          "application/zip"
        ],
        "tags": [
          "Audit"
        ],
        "summary": "Download Audit Records",
        "operationId": "downloadAudit",
        "parameters": [
          {
            "type": "string",
            "description": "The start date to find audits from",
            "name": "startDate",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The end date to find audits to",
            "name": "endDate",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "audit file response",
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "headers": {
              "Content-Disposition": {
                "type": "string",
                "description": "attachment; filename=\"attachment.zip\""
              }
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/engines": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "List all existing engines.",
        "tags": [
          "Engines"
        ],
        "summary": "List Engines",
        "operationId": "listEngines",
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EngineListResult"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Registers a new engine and returns its key pair.",
        "tags": [
          "Engines"
        ],
        "summary": "Create Engine",
        "operationId": "createEngine",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EngineCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EngineCreateResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/engines/{name}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Retrieve engine by name.",
        "tags": [
          "Engines"
        ],
        "summary": "Get Engine",
        "operationId": "getEngine",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name of engine",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EngineGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete an engine  by name.",
        "tags": [
          "Engines"
        ],
        "summary": "Delete Engine",
        "operationId": "deleteEngine",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Force",
            "description": "Delete immediately",
            "name": "force",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name of engine",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/engines/{name}/ping": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Sends a message to the engine to validate connectivity.",
        "tags": [
          "Engines"
        ],
        "summary": "Ping Engine",
        "operationId": "pingEngine",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name of engine",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/EnginePingResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Search for one or more groups by name.",
        "tags": [
          "Groups"
        ],
        "summary": "Search Groups",
        "operationId": "searchGroups",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "SearchTerm",
            "description": "Partial search term for search by path",
            "name": "searchTerm",
            "in": "query"
          },
          {
            "maximum": 500,
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "Limit for the number of results per page (cursor)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "Cursor to next batch of results",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Sort",
            "description": "Sort results ascending (asc) or descending (desc) order by lastModified attribute on field search. Default is desc",
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortedBy",
            "description": "SortedBy order the result by name, created or lastModified attribute on field search. Default is lastModified",
            "name": "sortedBy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/GroupSearch"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/groups/": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Create a new group.",
        "tags": [
          "Groups"
        ],
        "summary": "Create Group",
        "operationId": "createGroup",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AddMemberResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/groups/{name}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Retrieve an existing group by name.",
        "tags": [
          "Groups"
        ],
        "summary": "Get Group",
        "operationId": "getGroup",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Group name",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/GroupResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete Group if it exists.",
        "tags": [
          "Groups"
        ],
        "summary": "Delete Group",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Force",
            "description": "Delete immediately",
            "name": "force",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Group name",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/groups/{name}/members": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Add one or more members to a group.",
        "tags": [
          "Groups"
        ],
        "summary": "Add Members To Group",
        "operationId": "addMember",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Group name",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/AddMemberResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Delete one or more members from a group.",
        "tags": [
          "Groups"
        ],
        "summary": "Delete Members From Group",
        "operationId": "deleteMember",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Group name",
            "name": "name",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/groups/{name}/restore": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restore a soft-deleted group.",
        "tags": [
          "Groups"
        ],
        "summary": "Restore Group",
        "operationId": "restoreGroup",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Group name",
            "name": "name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/home/{principalName}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Lists home secret paths that start with the path parameter.",
        "tags": [
          "Home"
        ],
        "summary": "Search for Home Secrets",
        "operationId": "searchHomeSecrets",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "SearchTerm",
            "description": "Partial search term for search by path",
            "name": "searchTerm",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Link",
            "description": "Whether to search for secrets that link to the path in the search term",
            "name": "search.links",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Field",
            "description": "Secret field for advanced searching",
            "name": "search.field",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Comparison",
            "description": "Comparison type (equal, contains, begins_with) for advanced searching",
            "name": "search.comparison",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "UnderlyingType",
            "description": "Attribute type (string, number) to search on",
            "name": "search.type",
            "in": "query"
          },
          {
            "maximum": 500,
            "type": "integer",
            "format": "int64",
            "x-go-name": "Limit",
            "description": "Limit for the number of results per page (cursor)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Cursor",
            "description": "Cursor to next batch of results",
            "name": "cursor",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Sort",
            "description": "Sort results ascending (asc) or descending (desc) order by lastModified attribute on field search. Default is desc",
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretSearch"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/home/{principalName}/{path}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Gets a full home secret by path or by id in the query.",
        "tags": [
          "Home"
        ],
        "summary": "Get Home",
        "operationId": "getHomeSecret",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "Unique uuid identifying a secret",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Updates an existing home secret.",
        "tags": [
          "Home"
        ],
        "summary": "Update home Secret",
        "operationId": "updateHomeSecret",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Creates a new home secret.",
        "tags": [
          "Home"
        ],
        "summary": "Create home secrets",
        "operationId": "createHomeSecret",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Deletes a home secret by path or by id in the query.",
        "tags": [
          "Home"
        ],
        "summary": "Delete Home Secret",
        "operationId": "deleteHomeSecret",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "Unique uuid identifying a secret",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            }
          },
          "204": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/home/{principalName}/{path}/restore": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Restores a home secret by path or by id in the query.",
        "tags": [
          "Home"
        ],
        "summary": "Restore home Secret",
        "operationId": "restoreHomeSecret",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "Unique uuid identifying a secret",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/emptyResponse"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/home/{principalName}/{path}/rollback/{version}": {
      "put": {
        "description": "Rollbacks a Home Secret to a previous version.",
        "tags": [
          "Home"
        ],
        "summary": "Rollback a Home Secret",
        "operationId": "rollbackHomeSecret",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretVersionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/home/{principalName}/{path}/version/{version}": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Gets a full home secret by path and version in the query.",
        "tags": [
          "Home"
        ],
        "summary": "Get Home Secret By Version",
        "operationId": "getHomeSecretByVersion",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Version",
            "description": "Versions to return",
            "name": "version",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretVersionResponse"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/home/{principalName}/{path}::description": {
      "get": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Gets a home secret's metadata without returning the sensitive data.",
        "tags": [
          "Home"
        ],
        "summary": "Get home Secret Description",
        "operationId": "getHomeSecretDescription",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "Unique uuid identifying a secret",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Path",
            "description": "The full secret path i.e. servers/prod/webserver-01",
            "name": "path",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/SecretDescription"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
          },
          "403": {
            "$ref": "#/responses/forbidden"
          },
          "404": {
            "$ref": "#/responses/notFound"
          },
          "500": {
            "$ref": "#/responses/internalError"
          }
        }
      }
    },
    "/pki/leaf": {
      "post": {
        "security": [
          {
            "Bearer": [
              "[]"
            ]
          }
        ],
        "description": "Create and return a signed certificate with a private key based on a registered root CA.",
        "tags": [
          "PKI"
        ],
        "summary": "Create Leaf Certificate and Private Key",
        "operationId": "LeafParams",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SigningRequestInformation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "no error",
            "schema": {
              "$ref": "#/definitions/ResponseCertificate"
            }
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "401": {
            "$ref": "#/responses/unauthorized"
[...]
