openapi: 3.0.1
info:
  title: DevOps Secrets Vault API
  description: The purpose of this application is to provide a simple service for
    storing and getting secrets
  version: 1.0.0
servers:
- url: https://secretsvaultcloud.com/v1
paths:
  /audit:
    get:
      tags:
      - Audit
      summary: Find Audit Records
      description: Find audit records based on search critera.
      operationId: findAudit
      parameters:
      - name: principal
        in: query
        description: Security principal name
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Principal
        x-go-name: Principal
      - name: startDate
        in: query
        description: The start date to find audits from
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
          x-go-name: StartDate
        x-go-name: StartDate
      - name: endDate
        in: query
        description: The end date to find audits to
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
          x-go-name: EndDate
        x-go-name: EndDate
      - name: action
        in: query
        description: The audit action
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Action
        x-go-name: Action
      - name: path
        in: query
        description: The secret path
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: cursor
        in: query
        description: The cursor for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cursor
        x-go-name: Cursor
      - name: limit
        in: query
        description: The number of results to return
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: sort
        in: query
        description: Sort results ascending (asc) or descending (desc) order. Default
          is desc
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Sort
        x-go-name: Sort
      responses:
        "200":
          description: Successful audit log search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /breakglass:
    get:
      tags:
      - Break-Glass
      summary: Get Status
      description: Get break glass status
      operationId: GetStatus
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /breakglass/apply:
    post:
      tags:
      - Break-Glass
      summary: Apply
      description: Apply secret shares to break glass and give users admin rights
      operationId: ApplyRequest
      parameters:
      - name: shares
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          x-go-name: Shares
        x-go-name: Shares
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /breakglass/generate:
    post:
      tags:
      - Break-Glass
      summary: Generate
      description: Generate a new break glass secret and shares
      operationId: GenerateRequest
      parameters:
      - name: newAdmins
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
          x-go-name: NewAdmins
        x-go-name: NewAdmins
      - name: minNumberOfShares
        in: query
        required: true
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int64
          x-go-name: MinNumberOfShares
        x-go-name: MinNumberOfShares
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /certificate/auth:
    post:
      tags:
      - Tokens
      summary: Initiate authentication by certificate
      description: |-
        Request a challenge to decrypt to prove ownership of the private key for
        authentication by certificate flow. Challenge id returned in response is
        only valid for 5 minutes.
      operationId: init-cert-auth
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/certificate_auth_body'
        required: true
      responses:
        "200":
          description: Successful response with an encrypted challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateCertAuthResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
  /clients:
    get:
      tags:
      - Clients
      summary: Search for Client Credentials
      description: Search for one or more client credentials associated with a particular
        role.
      operationId: searchClients
      parameters:
      - name: role
        in: query
        description: Role name associated with client credentials
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Role
        x-go-name: Role
      - name: limit
        in: query
        description: The maximum number of results per cursor
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: cursor
        in: query
        description: Cursor to next batch of results
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cursor
        x-go-name: Cursor
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSearchModel'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    post:
      tags:
      - Clients
      summary: Create a Client Credential
      description: Request a new client credential for a role and get back the client
        id and secret key.
      operationId: createClientCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreate'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentialsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /clients/bootstrap/{clientId}:
    get:
      tags:
      - Clients
      summary: Get a Client Bootstrap Credential including secret
      description: Get a client credential by url.
      operationId: getBootstrapClientCredential
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentialsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /clients/{clientId}:
    get:
      tags:
      - Clients
      summary: Get a Client Credential
      description: Get a client credential by client id. The secret key is omitted.
      operationId: getClientCredential
      parameters:
      - name: clientId
        in: path
        description: ClientId property of the client credentials
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: ID
        x-go-name: ID
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCredentialsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    delete:
      tags:
      - Clients
      summary: Delete a Client Credential
      description: Delete a client credential by its unique client id.
      operationId: deleteClientCredential
      parameters:
      - name: force
        in: query
        description: Delete immediately
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          x-go-name: Force
        x-go-name: Force
      - name: clientId
        in: path
        description: ClientId property of the client credentials
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: ID
        x-go-name: ID
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /clients/{clientId}/restore:
    get:
      tags:
      - Clients
      summary: Restore a Client
      description: Restore a client by ID.
      operationId: restoreClient
      parameters:
      - name: clientId
        in: path
        description: ClientId property of the client credentials
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: ID
        x-go-name: ID
      responses:
        "200":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config:
    get:
      tags:
      - Config
      summary: Get Config
      description: Get config data.
      operationId: getConfig
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    post:
      tags:
      - Config
      summary: Create Config
      description: Create or update config.
      operationId: postConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostConfigModel'
        required: true
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /config/auth:
    get:
      tags:
      - Settings
      summary: Search Authentication Providers
      description: Search authentication providers by name.
      operationId: searchSettings
      parameters:
      - name: searchTerm
        in: query
        description: Search pattern for setting name.
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: SearchTerm
        x-go-name: SearchTerm
      - name: limit
        in: query
        description: The maximum number of results per cursor.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: cursor
        in: query
        description: Cursor to next batch of results.
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cursor
        x-go-name: Cursor
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationSettingsSearchResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/auth/:
    post:
      tags:
      - Settings
      summary: Create Authentication Provider
      description: Creates new authentication provider settings.
      operationId: createAuthSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationSettingsCreateModel'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationSettingsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /config/auth/{name}:
    get:
      tags:
      - Settings
      summary: Get Authentication Provider
      description: Retrieve authentication providers by name.
      operationId: getAuthSettings
      parameters:
      - name: name
        in: path
        description: Full name to lookup authentication settings by.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationSettingsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    put:
      tags:
      - Settings
      summary: Update Authentication Provider
      description: Updates all fields on an existing authentication provider.
      operationId: updateAuthSettings
      parameters:
      - name: name
        in: path
        description: Full name to lookup authentication settings by.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationDetailsModel'
        required: true
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationSettingsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
    delete:
      tags:
      - Settings
      summary: Delete Authentication Provider
      description: Remove authentication provider settings from the system.
      operationId: deleteAuthSettings
      parameters:
      - name: force
        in: query
        description: Delete immediately
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          x-go-name: Force
        x-go-name: Force
      - name: name
        in: path
        description: Full name to lookup authentication settings by.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/auth/{name}/restore:
    get:
      tags:
      - Settings
      summary: Restore Authentication Provider
      description: Restore authentication provider settings if it had been marked
        for deletion.
      operationId: restoreAuthSettings
      parameters:
      - name: name
        in: path
        description: Full name to lookup authentication settings by.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/auth/{name}/rollback/{version}:
    put:
      tags:
      - Settings
      summary: Rollback Authentication Provider
      description: Rollback authentication provider to a previous version.
      operationId: rollbackAuthSettings
      parameters:
      - name: name
        in: path
        description: Full name to lookup authentication settings by.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      - name: version
        in: path
        description: Versions to return.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationSettingsResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
  /config/auth/{name}/version/{version}:
    get:
      tags:
      - Settings
      summary: Get a list of Authentication Settings by version
      description: Get a full Settings by name and version in the query. Returns a
        list of zero up to n versions of an item.
      operationId: getAuthSettingsByVersion
      parameters:
      - name: name
        in: path
        description: Full name to lookup authentication settings by.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      - name: version
        in: path
        description: Versions to return.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationSettingsVersionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/keys:
    put:
      tags:
      - Key
      summary: Update Master Key
      description: Update Master Encryption key.
      operationId: masterkeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Masterkey'
        required: true
      responses:
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /config/policies:
    get:
      tags:
      - Policies
      summary: Search Policies
      description: Search permission policies by path.
      operationId: searchFilter
      parameters:
      - name: searchTerm
        in: query
        description: Search term
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: SearchTerm
        x-go-name: SearchTerm
      - name: limit
        in: query
        description: The maximum number of results per cursor
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: cursor
        in: query
        description: Cursor to next batch of results
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cursor
        x-go-name: Cursor
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySearchResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/policies/:
    post:
      tags:
      - Policies
      summary: Create Policy
      description: Creates new policy with permission document.
      operationId: createPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCreate'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /config/policies/{path}:
    get:
      tags:
      - Policies
      summary: Get Policy
      description: Retrieve policy by path.
      operationId: getPolicy
      parameters:
      - name: path
        in: path
        description: Full path to lookup policy
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    put:
      tags:
      - Policies
      summary: Update Policy
      description: Overwrites an existing policy with an updated permissions document.
      operationId: updatePolicy
      parameters:
      - name: path
        in: path
        description: Full path for policy
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyUpdate'
        required: true
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
    delete:
      tags:
      - Policies
      summary: Delete Policy
      description: Remove an existing policy by path.
      operationId: deletePolicy
      parameters:
      - name: force
        in: query
        description: Delete immediately
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          x-go-name: Force
        x-go-name: Force
      - name: path
        in: path
        description: Full path to lookup policy
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/policies/{path}/restore:
    get:
      tags:
      - Policies
      summary: Restore Policy
      description: Restore an existing policy by path.
      operationId: restorePolicy
      parameters:
      - name: path
        in: path
        description: Full path to lookup policy
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/policies/{path}/rollback/{version}:
    put:
      tags:
      - Policies
      summary: Rollback Policy
      description: Overwrites an existing policy with its previous version.
      operationId: rollbackPolicy
      parameters:
      - name: path
        in: path
        description: Full path to lookup policy
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: version
        in: path
        description: Versions to return
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
  /config/policies/{path}/version/{version}:
    get:
      tags:
      - Policies
      summary: Get a list of policies by version
      description: Get a full policies by path and version in the query.Returns a
        list of zero up to n versions of an item.
      operationId: getPolicyByVersion
      parameters:
      - name: path
        in: path
        description: Full path to lookup policy
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: version
        in: path
        description: Versions to return
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyVersionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/siem:
    get:
      tags:
      - SIEM
      summary: Search SIEM Endpoints
      description: Search SIEM Endpoints by name.
      operationId: searchSiems
      parameters:
      - name: searchTerm
        in: query
        description: Partial search term for search by name
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: SearchTerm
        x-go-name: SearchTerm
      - name: limit
        in: query
        description: Limit for the number of results per page (cursor)
        required: false
        style: form
        explode: true
        schema:
          maximum: 500
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: cursor
        in: query
        description: Cursor to next batch of results
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cursor
        x-go-name: Cursor
      - name: sort
        in: query
        description: Sort results ascending (asc) or descending (desc) order by name.
          Default is asc
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Sort
        x-go-name: Sort
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiemSearchResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    post:
      tags:
      - SIEM
      summary: Create SIEM Endpoint
      description: Creates a new SIEM endpoint.
      operationId: siemCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiemCreateUpdateRequestModel'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiemResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /config/siem/{name}:
    get:
      tags:
      - SIEM
      summary: Get SIEM Endpoint
      description: Retrieve an existing SIEM endpoint.
      operationId: siemGet
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiemResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    put:
      tags:
      - SIEM
      summary: Update SIEM Endpoint
      description: Update an existing SIEM endpoint. Update sets "failed" to "false"
        and "failedEvents" to "0" automatically.
      operationId: siemUpdate
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiemCreateUpdateRequestModel'
        required: true
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiemResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
    delete:
      tags:
      - SIEM
      summary: Delete SIEM Endpoint
      description: Delete an existing SIEM endpoint.
      operationId: siemDelete
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /config/version/{version}:
    get:
      tags:
      - Config
      summary: Get Config By Version
      description: Get zero or more representations of config specified by version
        number.
      operationId: getConfigByVersion
      parameters:
      - name: version
        in: path
        description: Versions to return
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigVersionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/decrypt:
    post:
      tags:
      - EaaS-Auto
      summary: Decrypt
      description: Decrypt ciphertext with a key.
      operationId: decrypt
      parameters:
      - name: path
        in: query
        description: The path to data key
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: ciphertext
        in: query
        description: A value to be decrypted
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: uint8
          x-go-name: Ciphertext
        x-go-name: Ciphertext
      - name: version
        in: query
        description: The version of the key with which to decrypt data
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/encrypt:
    post:
      tags:
      - EaaS-Auto
      summary: Encrypt
      description: Encrypt plaintext with a key.
      operationId: encrypt
      parameters:
      - name: path
        in: query
        description: The path to data key
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: plaintext
        in: query
        description: A value to be encrypted
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Plaintext
        x-go-name: Plaintext
      - name: version
        in: query
        description: The version of the key with which to encrypt data
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Version
        x-go-name: Version
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/key/{path}:
    get:
      tags:
      - EaaS-Auto
      summary: Get Key Metadata
      description: Get metadata of an existing encryption/decryption key.
      operationId: getKeyMetadata
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoKeyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    post:
      tags:
      - EaaS-Auto
      summary: Create Key
      description: Create a new encryption/decryption key.
      operationId: createKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoKeyResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    delete:
      tags:
      - EaaS-Auto
      summary: Delete Key
      description: Delete an existing encryption/decryption key.
      operationId: deleteKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/key/{path}/restore:
    put:
      tags:
      - EaaS-Auto
      summary: Restore Key
      description: Restore a soft-deleted encryption/decryption key.
      operationId: restoreKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/manual/decrypt:
    post:
      tags:
      - EaaS-Manual
      summary: Decrypt
      description: Decrypt ciphertext with a key.
      operationId: decryptWithManualKey
      parameters:
      - name: path
        in: query
        description: The path to data key
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: ciphertext
        in: query
        description: A value to be decrypted
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: uint8
          x-go-name: Ciphertext
        x-go-name: Ciphertext
      - name: version
        in: query
        description: The version of the key with which to decrypt data
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Version
        x-go-name: Version
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecryptionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/manual/encrypt:
    post:
      tags:
      - EaaS-Manual
      summary: Encrypt
      description: Encrypt plaintext with a key.
      operationId: encryptWithManualKey
      parameters:
      - name: path
        in: query
        description: The path to data key
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: plaintext
        in: query
        description: A value to be encrypted
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Plaintext
        x-go-name: Plaintext
      - name: version
        in: query
        description: The version of the key with which to encrypt data
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Version
        x-go-name: Version
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/manual/key/{path}:
    get:
      tags:
      - EaaS-Manual
      summary: Read Key
      description: Read existing encryption/decryption key.
      operationId: readManualKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    put:
      tags:
      - EaaS-Manual
      summary: Update Key
      description: Update an existing encryption/decryption key.
      operationId: updateKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyRequest'
        required: true
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
    post:
      tags:
      - EaaS-Manual
      summary: Upload Key
      description: Upload a new encryption/decryption key.
      operationId: uploadKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualKeyData'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
    delete:
      tags:
      - EaaS-Manual
      summary: Delete Key
      description: Delete an existing encryption/decryption key.
      operationId: deleteManualKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/manual/key/{path}/restore:
    put:
      tags:
      - EaaS-Manual
      summary: Restore Key
      description: Restore a soft-deleted encryption/decryption key.
      operationId: restoreManualKey
      parameters:
      - name: path
        in: path
        description: "The full key path, for example, mykeys/key01"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      responses:
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /crypto/rotate:
    post:
      tags:
      - EaaS-Auto
      summary: Rotate Data and Key
      description: |-
        Rotate data and optionally an existing encryption/decryption key.

        If the starting version is the current version of the key, then DSV will rotate the key (create a new version of it)
        and re-encrypt the data using this new version.

        If the starting version is NOT the current version of the key, and the ending version is not provided, then DSV will
        only re-encrypt the data using the current latest version of the key.

        The starting and ending versions can also be below the latest one, so long as the starting is below the ending.
        In this case, DSV will re-encrypt the data using the version of the key specified by the ending version.
      operationId: RotationRequest
      parameters:
      - name: path
        in: query
        description: The path to data key
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Path
        x-go-name: Path
      - name: ciphertext
        in: query
        description: A value to be rotated (re-encrypted)
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: uint8
          x-go-name: Ciphertext
        x-go-name: Ciphertext
      - name: startingVersion
        in: query
        description: The starting version of the key with which to re-encrypt data
        required: true
        style: form
        explode: true
        schema:
          type: string
          x-go-name: StartingVersion
        x-go-name: StartingVersion
      - name: endingVersion
        in: query
        description: The ending version of the key with which to re-encrypt data
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: EndingVersion
        x-go-name: EndingVersion
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptionResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /download/audit:
    get:
      tags:
      - Audit
      summary: Download Audit Records
      description: Download a zip of audit records for a time range
      operationId: downloadAudit
      parameters:
      - name: startDate
        in: query
        description: The start date to find audits from
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: endDate
        in: query
        description: The end date to find audits to
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: audit file response
          headers:
            Content-Disposition:
              description: attachment; filename="attachment.zip"
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/zip:
              schema:
                type: string
                format: binary
                x-content-type: application/zip
        "400":
          description: bad request
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer: []
  /engines:
    get:
      tags:
      - Engines
      summary: List Engines
      description: List all existing engines.
      operationId: listEngines
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineListResult'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    post:
      tags:
      - Engines
      summary: Create Engine
      description: Registers a new engine and returns its key pair.
      operationId: createEngine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngineCreate'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineCreateResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /engines/{name}:
    get:
      tags:
      - Engines
      summary: Get Engine
      description: Retrieve engine by name.
      operationId: getEngine
      parameters:
      - name: path
        in: path
        description: Name of engine
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineGetResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    delete:
      tags:
      - Engines
      summary: Delete Engine
      description: Delete an engine  by name.
      operationId: deleteEngine
      parameters:
      - name: force
        in: query
        description: Delete immediately
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          x-go-name: Force
        x-go-name: Force
      - name: path
        in: path
        description: Name of engine
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /engines/{name}/ping:
    post:
      tags:
      - Engines
      summary: Ping Engine
      description: Sends a message to the engine to validate connectivity.
      operationId: pingEngine
      parameters:
      - name: path
        in: path
        description: Name of engine
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnginePingResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /groups:
    get:
      tags:
      - Groups
      summary: Search Groups
      description: Search for one or more groups by name.
      operationId: searchGroups
      parameters:
      - name: searchTerm
        in: query
        description: Partial search term for search by path
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: SearchTerm
        x-go-name: SearchTerm
      - name: limit
        in: query
        description: Limit for the number of results per page (cursor)
        required: false
        style: form
        explode: true
        schema:
          maximum: 500
          type: integer
          format: int64
          x-go-name: Limit
        x-go-name: Limit
      - name: cursor
        in: query
        description: Cursor to next batch of results
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Cursor
        x-go-name: Cursor
      - name: sort
        in: query
        description: Sort results ascending (asc) or descending (desc) order by lastModified
          attribute on field search. Default is desc
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: Sort
        x-go-name: Sort
      - name: sortedBy
        in: query
        description: "SortedBy order the result by name, created or lastModified attribute\
          \ on field search. Default is lastModified"
        required: false
        style: form
        explode: true
        schema:
          type: string
          x-go-name: SortedBy
        x-go-name: SortedBy
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupSearch'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /groups/:
    post:
      tags:
      - Groups
      summary: Create Group
      description: Create a new group.
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroup'
        required: true
      responses:
        "201":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddMemberResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
      x-codegen-request-body-name: Body
  /groups/{name}:
    get:
      tags:
      - Groups
      summary: Get Group
      description: Retrieve an existing group by name.
      operationId: getGroup
      parameters:
      - name: name
        in: path
        description: Group name
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
    delete:
      tags:
      - Groups
      summary: Delete Group
      description: Delete Group if it exists.
      operationId: deleteGroup
      parameters:
      - name: force
        in: query
        description: Delete immediately
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          x-go-name: Force
        x-go-name: Force
      - name: name
        in: path
        description: Group name
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "204":
          description: no error
          content: {}
        "400":
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
      security:
      - Bearer:
        - "[]"
  /groups/{name}/members:
    post:
      tags:
      - Groups
      summary: Add Members To Group
      description: Add one or more members to a group.
      operationId: addMember
      parameters:
      - name: name
        in: path
        description: Group name
        required: true
        style: simple
        explode: false
        schema:
          type: string
          x-go-name: Name
        x-go-name: Name
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRequest'
        required: true
      responses:
        "200":
          description: no error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddMemberResponse'
        "400":
          description: bad request
          content:
[...]
