---
swagger: "2.0"
info:
  description: "The purpose of this application is to provide a simple service for\
    \ storing and getting secrets"
  version: "1.0.0"
  title: "DevOps Secrets Vault API"
host: "secretsvaultcloud.com"
basePath: "/v1"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /audit:
    get:
      tags:
      - "Audit"
      summary: "Find Audit Records"
      description: "Find audit records based on search critera."
      operationId: "findAudit"
      parameters:
      - name: "principal"
        in: "query"
        description: "Security principal name"
        required: false
        type: "string"
        x-go-name: "Principal"
        x-exportParamName: "Principal"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        description: "The start date to find audits from"
        required: false
        type: "string"
        format: "date-time"
        x-go-name: "StartDate"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        description: "The end date to find audits to"
        required: false
        type: "string"
        format: "date-time"
        x-go-name: "EndDate"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      - name: "action"
        in: "query"
        description: "The audit action"
        required: false
        type: "string"
        x-go-name: "Action"
        x-exportParamName: "Action"
        x-optionalDataType: "String"
      - name: "path"
        in: "query"
        description: "The secret path"
        required: false
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
        x-optionalDataType: "String"
      - name: "cursor"
        in: "query"
        description: "The cursor for pagination"
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The number of results to return"
        required: false
        type: "integer"
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort results ascending (asc) or descending (desc) order. Default\
          \ is desc"
        required: false
        type: "string"
        x-go-name: "Sort"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "Successful audit log search response"
          schema:
            $ref: "#/definitions/LogSearchResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /breakglass:
    get:
      tags:
      - "Break-Glass"
      summary: "Get Status"
      description: "Get break glass status"
      operationId: "GetStatus"
      parameters: []
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/StatusResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
  /breakglass/apply:
    post:
      tags:
      - "Break-Glass"
      summary: "Apply"
      description: "Apply secret shares to break glass and give users admin rights"
      operationId: "ApplyRequest"
      parameters:
      - name: "shares"
        in: "query"
        required: true
        type: "array"
        items:
          type: "string"
        minLength: 1
        x-go-name: "Shares"
        x-exportParamName: "Shares"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/ApplyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /breakglass/generate:
    post:
      tags:
      - "Break-Glass"
      summary: "Generate"
      description: "Generate a new break glass secret and shares"
      operationId: "GenerateRequest"
      parameters:
      - name: "newAdmins"
        in: "query"
        required: true
        type: "array"
        items:
          type: "string"
        minLength: 1
        x-go-name: "NewAdmins"
        x-exportParamName: "NewAdmins"
      - name: "minNumberOfShares"
        in: "query"
        required: true
        type: "integer"
        minimum: 1
        format: "int64"
        x-go-name: "MinNumberOfShares"
        x-exportParamName: "MinNumberOfShares"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/GenerateResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /certificate/auth:
    post:
      tags:
      - "Tokens"
      summary: "Initiate authentication by certificate"
      description: "Request a challenge to decrypt to prove ownership of the private\
        \ key for\nauthentication by certificate flow. Challenge id returned in response\
        \ is\nonly valid for 5 minutes."
      operationId: "init-cert-auth"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "client_certificate"
        in: "formData"
        description: "Base64 encoded client certificate in PEM format"
        required: true
        type: "string"
        x-exportParamName: "ClientCertificate"
      responses:
        "200":
          description: "Successful response with an encrypted challenge"
          schema:
            $ref: "#/definitions/InitiateCertAuthResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /clients:
    get:
      tags:
      - "Clients"
      summary: "Search for Client Credentials"
      description: "Search for one or more client credentials associated with a particular\
        \ role."
      operationId: "searchClients"
      parameters:
      - name: "role"
        in: "query"
        description: "Role name associated with client credentials"
        required: true
        type: "string"
        x-go-name: "Role"
        x-exportParamName: "Role"
      - name: "limit"
        in: "query"
        description: "The maximum number of results per cursor"
        required: false
        type: "integer"
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "cursor"
        in: "query"
        description: "Cursor to next batch of results"
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ClientSearchModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "Clients"
      summary: "Create a Client Credential"
      description: "Request a new client credential for a role and get back the client\
        \ id and secret key."
      operationId: "createClientCredential"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/ClientCreate"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/ClientCredentialsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /clients/bootstrap/{clientId}:
    get:
      tags:
      - "Clients"
      summary: "Get a Client Bootstrap Credential including secret"
      description: "Get a client credential by url."
      operationId: "getBootstrapClientCredential"
      parameters: []
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ClientCredentialsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /clients/{clientId}:
    get:
      tags:
      - "Clients"
      summary: "Get a Client Credential"
      description: "Get a client credential by client id. The secret key is omitted."
      operationId: "getClientCredential"
      parameters:
      - name: "clientId"
        in: "path"
        description: "ClientId property of the client credentials"
        required: true
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "ClientId"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ClientCredentialsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Clients"
      summary: "Delete a Client Credential"
      description: "Delete a client credential by its unique client id."
      operationId: "deleteClientCredential"
      parameters:
      - name: "force"
        in: "query"
        description: "Delete immediately"
        required: false
        type: "boolean"
        x-go-name: "Force"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "clientId"
        in: "path"
        description: "ClientId property of the client credentials"
        required: true
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "ClientId"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /clients/{clientId}/restore:
    get:
      tags:
      - "Clients"
      summary: "Restore a Client"
      description: "Restore a client by ID."
      operationId: "restoreClient"
      parameters:
      - name: "clientId"
        in: "path"
        description: "ClientId property of the client credentials"
        required: true
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "ClientId"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config:
    get:
      tags:
      - "Config"
      summary: "Get Config"
      description: "Get config data."
      operationId: "getConfig"
      parameters: []
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ConfigResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "Config"
      summary: "Create Config"
      description: "Create or update config."
      operationId: "postConfig"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/PostConfigModel"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ConfigResponse"
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/ConfigResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/auth:
    get:
      tags:
      - "Settings"
      summary: "Search Authentication Providers"
      description: "Search authentication providers by name."
      operationId: "searchSettings"
      parameters:
      - name: "searchTerm"
        in: "query"
        description: "Search pattern for setting name."
        required: false
        type: "string"
        x-go-name: "SearchTerm"
        x-exportParamName: "SearchTerm"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The maximum number of results per cursor."
        required: false
        type: "integer"
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "cursor"
        in: "query"
        description: "Cursor to next batch of results."
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AuthenticationSettingsSearchResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/auth/:
    post:
      tags:
      - "Settings"
      summary: "Create Authentication Provider"
      description: "Creates new authentication provider settings."
      operationId: "createAuthSettings"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/AuthenticationSettingsCreateModel"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/AuthenticationSettingsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/auth/{name}:
    get:
      tags:
      - "Settings"
      summary: "Get Authentication Provider"
      description: "Retrieve authentication providers by name."
      operationId: "getAuthSettings"
      parameters:
      - name: "name"
        in: "path"
        description: "Full name to lookup authentication settings by."
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AuthenticationSettingsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    put:
      tags:
      - "Settings"
      summary: "Update Authentication Provider"
      description: "Updates all fields on an existing authentication provider."
      operationId: "updateAuthSettings"
      parameters:
      - name: "name"
        in: "path"
        description: "Full name to lookup authentication settings by."
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/AuthenticationDetailsModel"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AuthenticationSettingsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Settings"
      summary: "Delete Authentication Provider"
      description: "Remove authentication provider settings from the system."
      operationId: "deleteAuthSettings"
      parameters:
      - name: "force"
        in: "query"
        description: "Delete immediately"
        required: false
        type: "boolean"
        x-go-name: "Force"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "name"
        in: "path"
        description: "Full name to lookup authentication settings by."
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/auth/{name}/restore:
    get:
      tags:
      - "Settings"
      summary: "Restore Authentication Provider"
      description: "Restore authentication provider settings if it had been marked\
        \ for deletion."
      operationId: "restoreAuthSettings"
      parameters:
      - name: "name"
        in: "path"
        description: "Full name to lookup authentication settings by."
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/auth/{name}/rollback/{version}:
    put:
      tags:
      - "Settings"
      summary: "Rollback Authentication Provider"
      description: "Rollback authentication provider to a previous version."
      operationId: "rollbackAuthSettings"
      parameters:
      - name: "name"
        in: "path"
        description: "Full name to lookup authentication settings by."
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      - name: "version"
        in: "path"
        description: "Versions to return."
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AuthenticationSettingsResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/auth/{name}/version/{version}:
    get:
      tags:
      - "Settings"
      summary: "Get a list of Authentication Settings by version"
      description: "Get a full Settings by name and version in the query. Returns\
        \ a list of zero up to n versions of an item."
      operationId: "getAuthSettingsByVersion"
      parameters:
      - name: "name"
        in: "path"
        description: "Full name to lookup authentication settings by."
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      - name: "version"
        in: "path"
        description: "Versions to return."
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AuthenticationSettingsVersionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/keys:
    put:
      tags:
      - "Key"
      summary: "Update Master Key"
      description: "Update Master Encryption key."
      operationId: "masterkeys"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/Masterkey"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/policies:
    get:
      tags:
      - "Policies"
      summary: "Search Policies"
      description: "Search permission policies by path."
      operationId: "searchFilter"
      parameters:
      - name: "searchTerm"
        in: "query"
        description: "Search term"
        required: false
        type: "string"
        x-go-name: "SearchTerm"
        x-exportParamName: "SearchTerm"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "The maximum number of results per cursor"
        required: false
        type: "integer"
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "cursor"
        in: "query"
        description: "Cursor to next batch of results"
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/PolicySearchResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/policies/:
    post:
      tags:
      - "Policies"
      summary: "Create Policy"
      description: "Creates new policy with permission document."
      operationId: "createPolicy"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/PolicyCreate"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/PolicyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/policies/{path}:
    get:
      tags:
      - "Policies"
      summary: "Get Policy"
      description: "Retrieve policy by path."
      operationId: "getPolicy"
      parameters:
      - name: "path"
        in: "path"
        description: "Full path to lookup policy"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/PolicyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    put:
      tags:
      - "Policies"
      summary: "Update Policy"
      description: "Overwrites an existing policy with an updated permissions document."
      operationId: "updatePolicy"
      parameters:
      - name: "path"
        in: "path"
        description: "Full path for policy"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/PolicyUpdate"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/PolicyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Policies"
      summary: "Delete Policy"
      description: "Remove an existing policy by path."
      operationId: "deletePolicy"
      parameters:
      - name: "force"
        in: "query"
        description: "Delete immediately"
        required: false
        type: "boolean"
        x-go-name: "Force"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "path"
        in: "path"
        description: "Full path to lookup policy"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/policies/{path}/restore:
    get:
      tags:
      - "Policies"
      summary: "Restore Policy"
      description: "Restore an existing policy by path."
      operationId: "restorePolicy"
      parameters:
      - name: "path"
        in: "path"
        description: "Full path to lookup policy"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/policies/{path}/rollback/{version}:
    put:
      tags:
      - "Policies"
      summary: "Rollback Policy"
      description: "Overwrites an existing policy with its previous version."
      operationId: "rollbackPolicy"
      parameters:
      - name: "path"
        in: "path"
        description: "Full path to lookup policy"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "version"
        in: "path"
        description: "Versions to return"
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/PolicyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/policies/{path}/version/{version}:
    get:
      tags:
      - "Policies"
      summary: "Get a list of policies by version"
      description: "Get a full policies by path and version in the query.Returns a\
        \ list of zero up to n versions of an item."
      operationId: "getPolicyByVersion"
      parameters:
      - name: "path"
        in: "path"
        description: "Full path to lookup policy"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "version"
        in: "path"
        description: "Versions to return"
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/PolicyVersionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/siem:
    get:
      tags:
      - "SIEM"
      summary: "Search SIEM Endpoints"
      description: "Search SIEM Endpoints by name."
      operationId: "searchSiems"
      parameters:
      - name: "searchTerm"
        in: "query"
        description: "Partial search term for search by name"
        required: false
        type: "string"
        x-go-name: "SearchTerm"
        x-exportParamName: "SearchTerm"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for the number of results per page (cursor)"
        required: false
        type: "integer"
        maximum: 500
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "cursor"
        in: "query"
        description: "Cursor to next batch of results"
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort results ascending (asc) or descending (desc) order by name.\
          \ Default is asc"
        required: false
        type: "string"
        x-go-name: "Sort"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SiemSearchResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "SIEM"
      summary: "Create SIEM Endpoint"
      description: "Creates a new SIEM endpoint."
      operationId: "siemCreate"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SiemCreateUpdateRequestModel"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/SiemResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/siem/{name}:
    get:
      tags:
      - "SIEM"
      summary: "Get SIEM Endpoint"
      description: "Retrieve an existing SIEM endpoint."
      operationId: "siemGet"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SiemResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    put:
      tags:
      - "SIEM"
      summary: "Update SIEM Endpoint"
      description: "Update an existing SIEM endpoint. Update sets \"failed\" to \"\
        false\" and \"failedEvents\" to \"0\" automatically."
      operationId: "siemUpdate"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SiemCreateUpdateRequestModel"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SiemResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "SIEM"
      summary: "Delete SIEM Endpoint"
      description: "Delete an existing SIEM endpoint."
      operationId: "siemDelete"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /config/version/{version}:
    get:
      tags:
      - "Config"
      summary: "Get Config By Version"
      description: "Get zero or more representations of config specified by version\
        \ number."
      operationId: "getConfigByVersion"
      parameters:
      - name: "version"
        in: "path"
        description: "Versions to return"
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ConfigVersionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/decrypt:
    post:
      tags:
      - "EaaS-Auto"
      summary: "Decrypt"
      description: "Decrypt ciphertext with a key."
      operationId: "decrypt"
      parameters:
      - name: "path"
        in: "query"
        description: "The path to data key"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "ciphertext"
        in: "query"
        description: "A value to be decrypted"
        required: true
        type: "array"
        items:
          type: "integer"
          format: "uint8"
        x-go-name: "Ciphertext"
        x-exportParamName: "Ciphertext"
      - name: "version"
        in: "query"
        description: "The version of the key with which to decrypt data"
        required: false
        type: "string"
        x-go-name: "Version"
        x-exportParamName: "Version"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/DecryptionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/encrypt:
    post:
      tags:
      - "EaaS-Auto"
      summary: "Encrypt"
      description: "Encrypt plaintext with a key."
      operationId: "encrypt"
      parameters:
      - name: "path"
        in: "query"
        description: "The path to data key"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "plaintext"
        in: "query"
        description: "A value to be encrypted"
        required: true
        type: "string"
        x-go-name: "Plaintext"
        x-exportParamName: "Plaintext"
      - name: "version"
        in: "query"
        description: "The version of the key with which to encrypt data"
        required: false
        type: "string"
        x-go-name: "Version"
        x-exportParamName: "Version"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/EncryptionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/key/{path}:
    get:
      tags:
      - "EaaS-Auto"
      summary: "Get Key Metadata"
      description: "Get metadata of an existing encryption/decryption key."
      operationId: "getKeyMetadata"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AutoKeyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "EaaS-Auto"
      summary: "Create Key"
      description: "Create a new encryption/decryption key."
      operationId: "createKey"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/AutoKeyResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "EaaS-Auto"
      summary: "Delete Key"
      description: "Delete an existing encryption/decryption key."
      operationId: "deleteKey"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/key/{path}/restore:
    put:
      tags:
      - "EaaS-Auto"
      summary: "Restore Key"
      description: "Restore a soft-deleted encryption/decryption key."
      operationId: "restoreKey"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/manual/decrypt:
    post:
      tags:
      - "EaaS-Manual"
      summary: "Decrypt"
      description: "Decrypt ciphertext with a key."
      operationId: "decryptWithManualKey"
      parameters:
      - name: "path"
        in: "query"
        description: "The path to data key"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "ciphertext"
        in: "query"
        description: "A value to be decrypted"
        required: true
        type: "array"
        items:
          type: "integer"
          format: "uint8"
        x-go-name: "Ciphertext"
        x-exportParamName: "Ciphertext"
      - name: "version"
        in: "query"
        description: "The version of the key with which to decrypt data"
        required: false
        type: "string"
        x-go-name: "Version"
        x-exportParamName: "Version"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/DecryptionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/manual/encrypt:
    post:
      tags:
      - "EaaS-Manual"
      summary: "Encrypt"
      description: "Encrypt plaintext with a key."
      operationId: "encryptWithManualKey"
      parameters:
      - name: "path"
        in: "query"
        description: "The path to data key"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "plaintext"
        in: "query"
        description: "A value to be encrypted"
        required: true
        type: "string"
        x-go-name: "Plaintext"
        x-exportParamName: "Plaintext"
      - name: "version"
        in: "query"
        description: "The version of the key with which to encrypt data"
        required: false
        type: "string"
        x-go-name: "Version"
        x-exportParamName: "Version"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/EncryptionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/manual/key/{path}:
    get:
      tags:
      - "EaaS-Manual"
      summary: "Read Key"
      description: "Read existing encryption/decryption key."
      operationId: "readManualKey"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "EaaS-Manual"
      summary: "Upload Key"
      description: "Upload a new encryption/decryption key."
      operationId: "uploadKey"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/ManualKeyData"
        x-exportParamName: "Body"
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    put:
      tags:
      - "EaaS-Manual"
      summary: "Update Key"
      description: "Update an existing encryption/decryption key."
      operationId: "updateKey"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/UpdateKeyRequest"
        x-exportParamName: "Body"
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "EaaS-Manual"
      summary: "Delete Key"
      description: "Delete an existing encryption/decryption key."
      operationId: "deleteManualKey"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/manual/key/{path}/restore:
    put:
      tags:
      - "EaaS-Manual"
      summary: "Restore Key"
      description: "Restore a soft-deleted encryption/decryption key."
      operationId: "restoreManualKey"
      parameters:
      - name: "path"
        in: "path"
        description: "The full key path, for example, mykeys/key01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /crypto/rotate:
    post:
      tags:
      - "EaaS-Auto"
      summary: "Rotate Data and Key"
      description: "Rotate data and optionally an existing encryption/decryption key.\n\
        \nIf the starting version is the current version of the key, then DSV will\
        \ rotate the key (create a new version of it)\nand re-encrypt the data using\
        \ this new version.\n\nIf the starting version is NOT the current version\
        \ of the key, and the ending version is not provided, then DSV will\nonly\
        \ re-encrypt the data using the current latest version of the key.\n\nThe\
        \ starting and ending versions can also be below the latest one, so long as\
        \ the starting is below the ending.\nIn this case, DSV will re-encrypt the\
        \ data using the version of the key specified by the ending version."
      operationId: "RotationRequest"
      parameters:
      - name: "path"
        in: "query"
        description: "The path to data key"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "ciphertext"
        in: "query"
        description: "A value to be rotated (re-encrypted)"
        required: true
        type: "array"
        items:
          type: "integer"
          format: "uint8"
        x-go-name: "Ciphertext"
        x-exportParamName: "Ciphertext"
      - name: "startingVersion"
        in: "query"
        description: "The starting version of the key with which to re-encrypt data"
        required: true
        type: "string"
        x-go-name: "StartingVersion"
        x-exportParamName: "StartingVersion"
      - name: "endingVersion"
        in: "query"
        description: "The ending version of the key with which to re-encrypt data"
        required: false
        type: "string"
        x-go-name: "EndingVersion"
        x-exportParamName: "EndingVersion"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/EncryptionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /download/audit:
    get:
      tags:
      - "Audit"
      summary: "Download Audit Records"
      description: "Download a zip of audit records for a time range"
      operationId: "downloadAudit"
      produces:
      - "application/zip"
      parameters:
      - name: "startDate"
        in: "query"
        description: "The start date to find audits from"
        required: true
        type: "string"
        x-exportParamName: "StartDate"
      - name: "endDate"
        in: "query"
        description: "The end date to find audits to"
        required: true
        type: "string"
        x-exportParamName: "EndDate"
      security:
      - Bearer: []
      responses:
        "200":
          description: "audit file response"
          headers:
            Content-Disposition:
              type: "string"
              description: "attachment; filename=\"attachment.zip\""
          schema:
            type: "string"
            format: "binary"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /engines:
    get:
      tags:
      - "Engines"
      summary: "List Engines"
      description: "List all existing engines."
      operationId: "listEngines"
      parameters: []
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/EngineListResult"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "Engines"
      summary: "Create Engine"
      description: "Registers a new engine and returns its key pair."
      operationId: "createEngine"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/EngineCreate"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/EngineCreateResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /engines/{name}:
    get:
      tags:
      - "Engines"
      summary: "Get Engine"
      description: "Retrieve engine by name."
      operationId: "getEngine"
      parameters:
      - name: "path"
        in: "path"
        description: "Name of engine"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/EngineGetResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Engines"
      summary: "Delete Engine"
      description: "Delete an engine  by name."
      operationId: "deleteEngine"
      parameters:
      - name: "force"
        in: "query"
        description: "Delete immediately"
        required: false
        type: "boolean"
        x-go-name: "Force"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "path"
        in: "path"
        description: "Name of engine"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /engines/{name}/ping:
    post:
      tags:
      - "Engines"
      summary: "Ping Engine"
      description: "Sends a message to the engine to validate connectivity."
      operationId: "pingEngine"
      parameters:
      - name: "path"
        in: "path"
        description: "Name of engine"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/EnginePingResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /groups:
    get:
      tags:
      - "Groups"
      summary: "Search Groups"
      description: "Search for one or more groups by name."
      operationId: "searchGroups"
      parameters:
      - name: "searchTerm"
        in: "query"
        description: "Partial search term for search by path"
        required: false
        type: "string"
        x-go-name: "SearchTerm"
        x-exportParamName: "SearchTerm"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for the number of results per page (cursor)"
        required: false
        type: "integer"
        maximum: 500
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "cursor"
        in: "query"
        description: "Cursor to next batch of results"
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort results ascending (asc) or descending (desc) order by lastModified\
          \ attribute on field search. Default is desc"
        required: false
        type: "string"
        x-go-name: "Sort"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "sortedBy"
        in: "query"
        description: "SortedBy order the result by name, created or lastModified attribute\
          \ on field search. Default is lastModified"
        required: false
        type: "string"
        x-go-name: "SortedBy"
        x-exportParamName: "SortedBy"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/GroupSearch"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /groups/:
    post:
      tags:
      - "Groups"
      summary: "Create Group"
      description: "Create a new group."
      operationId: "createGroup"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/CreateGroup"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/AddMemberResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /groups/{name}:
    get:
      tags:
      - "Groups"
      summary: "Get Group"
      description: "Retrieve an existing group by name."
      operationId: "getGroup"
      parameters:
      - name: "name"
        in: "path"
        description: "Group name"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/GroupResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Groups"
      summary: "Delete Group"
      description: "Delete Group if it exists."
      operationId: "deleteGroup"
      parameters:
      - name: "force"
        in: "query"
        description: "Delete immediately"
        required: false
        type: "boolean"
        x-go-name: "Force"
        x-exportParamName: "Force"
        x-optionalDataType: "Bool"
      - name: "name"
        in: "path"
        description: "Group name"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /groups/{name}/members:
    post:
      tags:
      - "Groups"
      summary: "Add Members To Group"
      description: "Add one or more members to a group."
      operationId: "addMember"
      parameters:
      - name: "name"
        in: "path"
        description: "Group name"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/MemberRequest"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/AddMemberResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Groups"
      summary: "Delete Members From Group"
      description: "Delete one or more members from a group."
      operationId: "deleteMember"
      parameters:
      - name: "name"
        in: "path"
        description: "Group name"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/MemberRequest"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /groups/{name}/restore:
    get:
      tags:
      - "Groups"
      summary: "Restore Group"
      description: "Restore a soft-deleted group."
      operationId: "restoreGroup"
      parameters:
      - name: "name"
        in: "path"
        description: "Group name"
        required: true
        type: "string"
        x-go-name: "Name"
        x-exportParamName: "Name"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /home/{principalName}:
    get:
      tags:
      - "Home"
      summary: "Search for Home Secrets"
      description: "Lists home secret paths that start with the path parameter."
      operationId: "searchHomeSecrets"
      parameters:
      - name: "searchTerm"
        in: "query"
        description: "Partial search term for search by path"
        required: false
        type: "string"
        x-go-name: "SearchTerm"
        x-exportParamName: "SearchTerm"
        x-optionalDataType: "String"
      - name: "search.links"
        in: "query"
        description: "Whether to search for secrets that link to the path in the search\
          \ term"
        required: false
        type: "boolean"
        x-go-name: "Link"
        x-exportParamName: "SearchLinks"
        x-optionalDataType: "Bool"
      - name: "search.field"
        in: "query"
        description: "Secret field for advanced searching"
        required: false
        type: "string"
        x-go-name: "Field"
        x-exportParamName: "SearchField"
        x-optionalDataType: "String"
      - name: "search.comparison"
        in: "query"
        description: "Comparison type (equal, contains, begins_with) for advanced\
          \ searching"
        required: false
        type: "string"
        x-go-name: "Comparison"
        x-exportParamName: "SearchComparison"
        x-optionalDataType: "String"
      - name: "search.type"
        in: "query"
        description: "Attribute type (string, number) to search on"
        required: false
        type: "string"
        x-go-name: "UnderlyingType"
        x-exportParamName: "SearchType"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for the number of results per page (cursor)"
        required: false
        type: "integer"
        maximum: 500
        format: "int64"
        x-go-name: "Limit"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "cursor"
        in: "query"
        description: "Cursor to next batch of results"
        required: false
        type: "string"
        x-go-name: "Cursor"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort results ascending (asc) or descending (desc) order by lastModified\
          \ attribute on field search. Default is desc"
        required: false
        type: "string"
        x-go-name: "Sort"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretSearch"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /home/{principalName}/{path}:
    get:
      tags:
      - "Home"
      summary: "Get Home"
      description: "Gets a full home secret by path or by id in the query."
      operationId: "getHomeSecret"
      parameters:
      - name: "id"
        in: "query"
        description: "Unique uuid identifying a secret"
        required: false
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    post:
      tags:
      - "Home"
      summary: "Create home secrets"
      description: "Creates a new home secret."
      operationId: "createHomeSecret"
      parameters:
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SecretCreate"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    put:
      tags:
      - "Home"
      summary: "Update home Secret"
      description: "Updates an existing home secret."
      operationId: "updateHomeSecret"
      parameters:
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SecretUpdate"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
    delete:
      tags:
      - "Home"
      summary: "Delete Home Secret"
      description: "Deletes a home secret by path or by id in the query."
      operationId: "deleteHomeSecret"
      parameters:
      - name: "id"
        in: "query"
        description: "Unique uuid identifying a secret"
        required: false
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/MessageResponse"
        "204":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /home/{principalName}/{path}/restore:
    get:
      tags:
      - "Home"
      summary: "Restore home Secret"
      description: "Restores a home secret by path or by id in the query."
      operationId: "restoreHomeSecret"
      parameters:
      - name: "id"
        in: "query"
        description: "Unique uuid identifying a secret"
        required: false
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /home/{principalName}/{path}/rollback/{version}:
    put:
      tags:
      - "Home"
      summary: "Rollback a Home Secret"
      description: "Rollbacks a Home Secret to a previous version."
      operationId: "rollbackHomeSecret"
      parameters:
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "version"
        in: "path"
        description: "Versions to return"
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretVersionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /home/{principalName}/{path}/version/{version}:
    get:
      tags:
      - "Home"
      summary: "Get Home Secret By Version"
      description: "Gets a full home secret by path and version in the query."
      operationId: "getHomeSecretByVersion"
      parameters:
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      - name: "version"
        in: "path"
        description: "Versions to return"
        required: true
        type: "integer"
        format: "int64"
        x-go-name: "Version"
        x-exportParamName: "Version"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretVersionResponse"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /home/{principalName}/{path}::description:
    get:
      tags:
      - "Home"
      summary: "Get home Secret Description"
      description: "Gets a home secret's metadata without returning the sensitive\
        \ data."
      operationId: "getHomeSecretDescription"
      parameters:
      - name: "id"
        in: "query"
        description: "Unique uuid identifying a secret"
        required: false
        type: "string"
        x-go-name: "ID"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "path"
        in: "path"
        description: "The full secret path i.e. servers/prod/webserver-01"
        required: true
        type: "string"
        x-go-name: "Path"
        x-exportParamName: "Path"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SecretDescription"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "404":
          description: "not found"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /pki/leaf:
    post:
      tags:
      - "PKI"
      summary: "Create Leaf Certificate and Private Key"
      description: "Create and return a signed certificate with a private key based\
        \ on a registered root CA."
      operationId: "LeafParams"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SigningRequestInformation"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ResponseCertificate"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /pki/register:
    post:
      tags:
      - "PKI"
      summary: "Register Root CA"
      description: "Register a root CA as a secret."
      operationId: "registerRoot"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/RootCASecret"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "201":
          description: "no error"
          schema:
            $ref: "#/definitions/ResponseRootCertificate"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /pki/root:
    post:
      tags:
      - "PKI"
      summary: "Generate Root Certificate"
      description: "Create and return a new root certificate."
      operationId: "rootCARegistration"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/RootCARegistration"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ResponseCertificate"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /pki/sign:
    post:
      tags:
      - "PKI"
      summary: "Create Signed Certificate"
      description: "Create and return a signed certificate based on a registered root\
        \ CA with a given CSR."
      operationId: "signCertificate"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SigningRequest"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/SignedLeafCertificate"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/HTTPError"
        "401":
          description: "unauthorized"
          schema:
            $ref: "#/definitions/HTTPError"
        "403":
          description: "forbidden"
          schema:
            $ref: "#/definitions/HTTPError"
        "500":
          description: "server error"
          schema:
            $ref: "#/definitions/HTTPError"
  /pki/ssh-cert:
    post:
      tags:
      - "PKI"
      summary: "Create SSH Certificate"
      description: "Create, store and return a signed SSH certificate using a root\
        \ private key and SHH-compatible\nleaf public key."
      operationId: "SSHCertParams"
      parameters:
      - in: "body"
        name: "Body"
        required: true
        schema:
          $ref: "#/definitions/SSHCertInformation"
        x-exportParamName: "Body"
      security:
      - Bearer:
        - "[]"
      responses:
        "200":
          description: "no error"
          schema:
            $ref: "#/definitions/ResponseSSHCertificate"
        "400":
          description: "bad request"
          schema:
[...]
